In [65]:
# Neils Lab Customers Analysis Round 1

#### Note: I have followed instructions on Intro to Pandas, identified the commands on the cheat sheet and the Sollutions to attempt to follow the process and logic

In [66]:
import pandas as pd
import numpy as np

In [67]:
df1 = pd.read_csv('/Users/neil/Desktop/IronHack/Week1data/lab-customer-analysis-round-1-master/files_for_lab/csv_files/file1.csv')
df2 = pd.read_csv('/Users/neil/Desktop/IronHack/Week1data/lab-customer-analysis-round-1-master/files_for_lab/csv_files/file2.csv')
df3 = pd.read_csv('/Users/neil/Desktop/IronHack/Week1data/lab-customer-analysis-round-1-master/files_for_lab/csv_files/file3.csv')

df1 = pd.read_csv('files_for_lab/csv_files/file1.csv')
df2 = pd.read_csv('files_for_lab/csv_files/file2.csv')
df3 = pd.read_csv('files_for_lab/csv_files/file3.csv')

In [68]:
print(df1.shape)
print(df2.shape)
print(df3.shape)

(4008, 11)
(996, 11)
(7070, 11)

In [69]:
df1.columns.to_list()

['Customer',
 'ST',
 'GENDER',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class',
 'Total Claim Amount']

In [70]:
def standardize_col(col):
    return col.lower().replace(" ", "_")

In [71]:
for col in df1.columns.to_list():
    print(standardize_col(col))

customer
st
gender
education
customer_lifetime_value
income
monthly_premium_auto
number_of_open_complaints
policy_type
vehicle_class
total_claim_amount

In [72]:
stdzd_cols = []
for col in df1.columns.to_list():
    stdzd_cols.append(standardize_col(col))

In [73]:
df1.columns = stdzd_cols

In [74]:
df1.columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [75]:
df2.columns.to_list()

['Customer',
 'ST',
 'GENDER',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Total Claim Amount',
 'Policy Type',
 'Vehicle Class']

In [76]:
df2.columns = stdzd_cols

In [77]:
df2.columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [78]:
df3.columns = stdzd_cols

In [79]:
df3.columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [80]:
df1.head()

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [81]:
df2.head()

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [82]:
df3.head()

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [83]:
df_all = pd.concat([df1, df2, df3],
                  # axis=0,
                  )

In [84]:
df_all

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.70493
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.46
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.2693
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23406,Bachelor,M,71941.0,73.0,0,Personal Auto,198.235,Four-Door Car
7066,PK87824,California,3096.51,College,F,21604.0,79.0,0,Corporate Auto,379.2,Four-Door Car
7067,TD14365,California,8163.89,Bachelor,M,0.0,85.0,3,Corporate Auto,790.785,Four-Door Car
7068,UP19263,California,7524.44,College,M,21941.0,96.0,0,Personal Auto,691.2,Four-Door Car
7069,Y167826,California,2611.84,College,M,0.0,77.0,0,Corporate Auto,369.6,Two-Door Car

In [85]:
df_all.isna().all(axis=1)

0       False
1       False
2       False
3       False
4       False
        ...
7065    False
7066    False
7067    False
7068    False
7069    False
Length: 12074, dtype: bool

In [86]:
df_all = df_all[~df_all.isna().all(axis=1)]

In [87]:
df_all = df_all.reset_index(drop=True)

In [88]:
df_all = df_all.drop_duplicates()

In [89]:
df_all = df_all[df_all['income'] >= 0]

In [90]:
print(df1.shape)
print(df2.shape)
print(df3.shape)

(4008, 11)
(996, 11)
(7070, 11)

In [91]:
df_all.select_dtypes(np.number)

       income  monthly_premium_auto
0         0.0                1000.0
1         0.0                  94.0
2     48767.0                 108.0
3         0.0                 106.0
4     36357.0                  68.0
...       ...                   ...
9132  71941.0                  73.0
9133  21604.0                  79.0
9134      0.0                  85.0
9135  21941.0                  96.0
9136      0.0                  77.0

[9137 rows x 2 columns]

In [92]:
df_nums = df_all._get_numeric_data() # note to self, same function as above df_all.select_dtypes(np.number)

In [93]:
df_cats = df_all.drop(columns=df_nums.columns)

In [94]:
df_cats

,customer,st,gender,education,customer_lifetime_value,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,1/0/00,Personal Auto,Four-Door Car,2.70493
1,QZ44356,Arizona,F,Bachelor,697953.59%,1/0/00,Personal Auto,Four-Door Car,1131.46
2,AI49188,Nevada,F,Bachelor,1288743.17%,1/0/00,Personal Auto,Two-Door Car,566.472
3,WW63253,California,M,Bachelor,764586.18%,1/0/00,Corporate Auto,SUV,529.881
4,GA49547,Washington,M,High School or Below,536307.65%,1/0/00,Personal Auto,Four-Door Car,17.2693
...,...,...,...,...,...,...,...,...,...
9132,LA72316,California,23406,Bachelor,M,0,Personal Auto,198.235,Four-Door Car
9133,PK87824,California,3096.51,College,F,0,Corporate Auto,379.2,Four-Door Car
9134,TD14365,California,8163.89,Bachelor,M,3,Corporate Auto,790.785,Four-Door Car
9135,UP19263,California,7524.44,College,M,0,Personal Auto,691.2,Four-Door Car
9136,Y167826,California,2611.84,College,M,0,Corporate Auto,369.6,Two-Door Car

In [95]:
df_cats.isna().sum()

customer                       0
st                             0
gender                       122
education                      0
customer_lifetime_value        7
number_of_open_complaints      0
policy_type                    0
vehicle_class                  0
total_claim_amount             0
dtype: int64

In [96]:
df_cats.isna().sum()/len(df_cats)

customer                     0.000000
st                           0.000000
gender                       0.013352
education                    0.000000
customer_lifetime_value      0.000766
number_of_open_complaints    0.000000
policy_type                  0.000000
vehicle_class                0.000000
total_claim_amount           0.000000
dtype: float64

In [97]:
df_nums.isna().sum()/len(df_nums)

income                  0.0
monthly_premium_auto    0.0
dtype: float64

In [98]:
df_cats['st'].value_counts()

California    3032
Oregon        2601
Arizona       1630
Nevada         882
Washington     768
Cali           120
AZ              74
WA              30
Name: st, dtype: int64

In [99]:
df_cats['gender'].value_counts()

F                     984
M                     874
Male                   40
female                 30
Femal                  17
                     ...
5427.484590999999       1
6993.380587999999       1
8901.055724             1
5431.371279             1
2382.6728559999997      1
Name: gender, Length: 6293, dtype: int64

In [100]:
trans_dct = {'Male': 'M',
             'female':'F',
             'Femal':'F',
             'F':'F',
             'M':'M',
            }

In [101]:
df_cats['gender'] = df_cats['gender'].map(trans_dct)

In [102]:
df_cats['gender'].value_counts()

F    1031
M     914
Name: gender, dtype: int64

In [103]:
df_cats['education'].value_counts()

Bachelor                2719
College                 2682
High School or Below    2616
Master                   752
Doctor                   344
Bachelors                 24
Name: education, dtype: int64

In [104]:
df_cats['customer_lifetime_value'].value_counts()

F              3576
M              3494
251459.20%        5
552821.28%        5
871704.98%        4
               ...
266605.45%        1
816951.40%        1
1518227.98%       1
245297.73%        1
406467.06%        1
Name: customer_lifetime_value, Length: 1925, dtype: int64

In [105]:

def clean_clv(x):
    return float(str(x).replace('%', ''))*100

In [106]:
df_cats['number_of_open_complaints'].value_counts()

0         5629
1/0/00    1626
1          765
2          283
1/1/00     247
3          230
4          119
1/2/00      93
1/3/00      60
5           44
1/4/00      29
1/5/00      12
Name: number_of_open_complaints, dtype: int64

In [107]:
trans_dct = {0:0,
             1:1,
             2:2,
             3:3,
             4:4,
             5:5,
             '1/0/00' :0, 
             '1/1/00' :1, 
             '1/2/00' :2, 
             '1/3/00' :3, 
             '1/4/00' :4, 
             '1/5/00' :5, 
            }

df_cats['number_of_open_complaints'] = df_cats['number_of_open_complaints'].map(trans_dct)

In [108]:
df_cats['number_of_open_complaints'].value_counts()

0    7255
1    1012
2     376
3     290
4     148
5      56
Name: number_of_open_complaints, dtype: int64