## Neils Lab: Customer Analysis Round 2

## Assignment outlines:
Dealing with the data: <br>
Show the dataframe shape.<br>
Standardize header names.<br>
Which columns are numerical?<br>
Which columns are categorical?<br>
Check and deal with NaN values.<br>
Datetime format- Extract the months from the dataset and store in a separate column.<br>
Then filter the data to show only the information for the first quarter , ie Jan Feb and March<br>
  
BONUS: Put all the previously mentioned data transformations into a function.

Notes: <br>
Mostly ok, executed excondables but had problems with time data, continually got message: <br>
KeyError: 'effective_to_date'

In [80]:
import pandas as pd
import numpy as np

In [105]:
data=pd.read_csv('/Users/neil/Desktop/IronHack/Week1data/marketing_customer_analysis.csv')

In [103]:
data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [96]:
data.shape

(4008, 11)

In [87]:
data.columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [88]:
data.columns
data.columns=[column.lower().replace(' ', '_') for column in data.columns]
data.columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [89]:
data.head()

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [91]:
data._get_numeric_data().columns

Index(['income', 'monthly_premium_auto', 'total_claim_amount'], dtype='object')

In [92]:
data.drop(columns=data._get_numeric_data().columns).columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'number_of_open_complaints', 'policy_type', 'vehicle_class'],
      dtype='object')

In [93]:
data.isna().sum()

customer                     2937
st                           2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [111]:
data['effective_to_date'].dtype

KeyError: 'effective_to_date'

In [109]:
data.drop(columns=data._get_numeric_data().columns).columns

Index(['Customer', 'State', 'Response', 'Coverage', 'Education',
       'Effective To Date', 'EmploymentStatus', 'Gender', 'Location Code',
       'Marital Status', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Vehicle Class', 'Vehicle Size'],
      dtype='object')